<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="WebSuite">

    <test name="UI Tests">
        <classes>
            <class name="tests.AmazonTest"/>
            <class name="tests.FlipkartTest"/>
            <class name="tests.GoogleTest"/>
        </classes>
    </test>

</suite>