<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParallelSuite" parallel="classes" thread-count="3">

    <test name="WebTests">
        <classes>
            <class name="tests.AmazonTest"/>
            <class name="tests.GoogleTest"/>
            <class name="tests.FlipkartTest"/>
        </classes>
    </test>

</suite>